.el-header {
  padding: 0;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  outline: none;
  text-decoration: none;
}
div.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #143453;
}
div.home a {
  color: aqua;
  font-size: 20px;
  font-weight: 600;
}
div.home i {
  font-size: 30px;
  margin-right: 10px;
  color: bisque;
}
